<!DOCTYPE html>
  <html>
    <head>
      <title>EvilChat</title>
      <%= stylesheet_pack_tag 'application' %>
      <%= csrf_meta_tags %>
    </head>
  <body>
    <%= yield %>
    <div id="container">
      <%= javascript_pack_tag 'application' %>
    </div>
  </body>
</html>
